:root {
    --primary-color: #4A90E2;
    --primary-light: #EAF3FC;
    --primary-dark: #2C3E91;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto; // Nav | Content | Footer
    min-height: 100vh;
}