// Header - phần có logo | search bar | avatar user
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 12px;
    padding: 14px 10px;
    align-items: center;
    background: #334155;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 2.3rem;

    // Logo
    img {
        height: 45px;
        width: 45px;
        border-radius: 5px;
    }

    // Search
    .search {
        flex: 1;
        min-width: 0;

        input {
            width: 100%;
            padding: 6px 12px;
            border-radius: 20px;
            border: 1px solid #334155;
            outline: none;
            box-sizing: border-box;
        }
    }

    // Avatar
    .avatar {
        

        img {
            border-radius: 50%;
            height: 45px;
            width: 45px;
            object-fit: cover;
            border: 2px solid #334155;
        }
    }
}

// Main - nội dung import từ Home

// Footer - phần trang chủ | tài liệu | bài tập | thông tin
.footer {

    .list {
        background: #334155;
        padding: 18px 10px;

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            list-style-type: none;

            li {

                a {
                    color: #fff;
                    
                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
    }
}